.main-container {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.github-container h1 {
    font-size: 1.5rem;
}

.whatever-i-want h1 {
    font-size: 1.5rem;
}

.whatever-i-want {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.github-calendar {
    overflow-x: auto;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4rem 2rem;
    gap: 4rem;
}

.hero-image {
    width: 30%;
    flex-shrink: 0;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.hero-bio h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-bio p {
    font-size: 1.1rem;
    line-height: 1.7;
}

@media (max-width: 760px) {
    .hero {
        flex-direction: column;
    }

    .hero-image {
        width: 100%
    }

    .hero-bio h1 {
        font-size: 1.8rem;
    }

    .hero-bio p {
        font-size: .8rem;
    }
}