.form {
    padding-left: 2rem;
    padding-right: 4rem;
    padding-top: 1%;
    padding-bottom: 3rem;
    max-width: 100%;
}

.form div{
    padding-top: 1rem;
}

.form input, textarea {
    resize: none;
    box-sizing: border-box;
}

.form input {
    width: 60%
}

.form textarea {
    height: 20rem;
    width: 100%;
}