nav {
    display: flex;
    align-items: left;
    padding: 1rem 2rem;
    height: 30px;
    border-bottom: 1px solid #aaa;
    gap: 3rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}


@media (max-width: 760px) {
    nav{
        font-size: .8rem;
    }
}